<% layout('/layouts/boilerplate.ejs') -%>
 

    <form id="filterForm" action="/listings/category" method="post">
        <input type="hidden" id="selectedCategory" name="selectedCategory" value="">
    </form>

    
        <div id="filters">
            <div class="filter" onclick="submitForm('Trending')">
                <div><i class="fa-solid fa-fire"></i></div>
                <p>Trending</p>
            </div>

            <div class="filter" onclick="submitForm('Rooms')">
                <div><i class="fa-solid fa-bed"></i></div>
                <p>Rooms</p>
            </div>

            <div class="filter" onclick="submitForm('Iconic cities')">
                <div><i class="fa-solid fa-mountain-city"></i></div>
                <p>Iconic cities</p>
            </div>

            <div class="filter" onclick="submitForm('Mountains')">
                <div><i class="fa-solid fa-mountain"></i></div>
                <p>Mountains</p>
            </div>

            <div class="filter" onclick="submitForm('Castles')">
                <div><i class="fa-brands fa-fort-awesome"></i></div>
                <p>Castles</p>
            </div>

            <div class="filter" onclick="submitForm('Amazing pools')">
                <div><i class="fa-solid fa-person-swimming"></i></div>
                <p>Amazing pools</p>
            </div>

            <div class="filter" onclick="submitForm('Camping')" >
                <div><i class="fa-solid fa-campground"></i></div>
                <p>Camping</p>
            </div>

            <div class="filter" onclick="submitForm('Farms')">
                <div><i class="fa-solid fa-cow"></i></div>
                <p>Farms</p>
            </div>

            <div class="filter" onclick="submitForm('Arctic')">
                <div><i class="fa-regular fa-snowflake"></i></div>
                <p>Arctic </p>
            </div>

            <div class="filter" onclick="submitForm('Beaches')">
                <div><i class="fa-solid fa-umbrella-beach"></i></div>
                <p>Beaches </p>
            </div>

            <div class="filter" onclick="submitForm('Boats')">
                <div><i class="fa-solid fa-ship"></i></div>
                <p>Boats </p>
            </div>

            <div class="tax-toggle">
                <div class="form-check-reverse form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
                </div>
            </div>

        </div>


    <div class="row row-cols-lg-3 row-cols-md-2  row-cols-sm-1 mt-3">
        <%for(let listing of allListings){ %>
            <a href="/listings/<%=listing._id%>" class="listing-link">
        <div class="card col listing-card">
            <img src="<%= listing.image.url %>" 
                class="card-img-top" 
                alt="Listing Image"
                style="height: 20rem"
            />
            <div class="card-img-overlay"></div>
            <div class="card-body">
              <p class="card-text">
                <b><%= listing.title %></b> <br>
                &#8377;<%=listing.price.toLocaleString("en-IN")%>/night
                <i class="tax-info"> &nbsp; &nbsp;+18% GST</i>
              </p>
            </div>
        </div>
     </a> 
          <% } %>

    </div>


<script src="/js/index.js"></script>



